/*
.header {
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    height: 100vh;

    background-repeat: no-repeat;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  } */